{% if paginate.pages > 1 %}
<div class="flex justify-center items-center gap-2 mt-10">

    {% if paginate.previous %}
    <a href="{{ paginate.previous.url }}"
        class="px-4 py-2 rounded-full bg-gray-100 hover:bg-gray-200 text-sm transition">
            {% render 'arrow-left' %}
    </a>
    {% endif %}

    {% for part in paginate.parts %}
    {% if part.is_link %}
    <a href="{{ part.url }}" class="px-4 py-2 rounded-full bg-gray-100 hover:bg-gray-200 text-sm transition">
        {{ part.title }}
    </a>
    {% else %}
    <span class="px-4 py-2 rounded-full bg-black text-white text-sm">
        {{ part.title }}
    </span>
    {% endif %}
    {% endfor %}

    {% if paginate.next %}
    <a href="{{ paginate.next.url }}" class="px-4 py-2 rounded-full bg-gray-100 hover:bg-gray-200 text-sm transition">
            {% render 'arrow-right' %}
    </a>
    {% endif %}

</div>
{% endif %}